html {
    height: 100dvh;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.gradient-animated-text {
  font-size: 4rem;
  background: linear-gradient(to right, #f00 0%, #0f0 33%, #00f 66%, #f00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  background-size: 200% auto;
  animation: gradient 10s linear infinite;
  font-family: sans-serif;
}

@keyframes gradient {
  from {
    background-position: 0% center;
  }

  to {
    background-position: 200% center;
  }
}
