h1 {
  background: linear-gradient(to right, #f00 0%, #0f0 33%, #00f 66%, #f00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: gradient 10s linear infinite;
}

@keyframes gradient {
  from {
    background-position: 0% center;
  }

  to {
    background-position: 200% center;
  }
}

p {
    font-size: 2rem;;
}

.square {
    aspect-ratio: 4/3;
    background-color: white;
    width: 275px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square > div {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

#circle {
    width: 400px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.paragrafo {
    transform: rotate(180deg);
}

h1, p {
    text-align: center;
}